p {
    color: black;
    font-family: "Comic Sans MS";
}
body {
    background: lightskyblue;

    text-align: center;
    font-size: 40px;
    align-items: center;


}

h1 {
    color: black;
    font-family: "Comic Sans MS";
}
#bob-marley {
    background-color:green;


}
.cacatau {
    color: black;

}

th {
    color: lightgreen;
    background-color: lightseagreen;
    font-family: Caladea;
    text-align: center;
}
    tr:nth-child(even) {
        background-color: lightsalmon;
    }






a:hover {
    color: red;
    background-color: blue;

}